body{
    background: linear-gradient(to right, rgb(121, 62, 197), rgb(25, 60, 216) );
    
}
#welcome{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    align-self: left;
    margin-left: 100px;
    box-shadow: 1px;
}
.sign{
    background:linear-gradient(to right, rgba(153, 153, 153, 0.514) ,rgba(233, 233, 233, 0.418));
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: stretch;
    flex-wrap: nowrap; 
    border-color:aliceblue;
    transition: 0.5s ease;
    margin-left: 40px;
    border: WHITE solid 2px;
    margin-right: 600px;
    
    
}
.inputt{
    margin: 10px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 89%;
    transition:0.5s ease;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    cursor: pointer;


}
input::placeholder{
    color:rgba(255, 255, 255, 0.637);
    font-weight:bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:whitesmoke;
    border-bottom:3px solid white;
    font-size: 20px;
}
#ent{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 30px;
}
.inputt:hover{
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;

}
#acc{
    color:rgb(90, 20, 155);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#or{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color:rgba(196, 174, 255, 0.568);
}
.inputt:focus{
    outline:rgb(90, 20, 155) solid 1px;
    border:rgb(90, 20, 155) solid 1px;
    width: 92%;
    transition: 0.5s ease;
}
.home,.about,.contact{
    width:60px;
    height:60px;
    margin-left:10px;
    margin-top:10px;
    background-color:rgba(255, 255, 255, 0.363);
    border-radius: 100%;
    border:none;
 
    
    transition: 0.3s ease;
}
.imng{
    width: 20px;
    height: 20px;
    transition: 0.3s ease;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 60px;
    position: sticky;
    top:20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.534) );
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 10px;
    height: 80px;
}
#sub{
    width: 89%;
    height: 40px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(90, 20, 155);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.3s ease;
  
}
#sub:hover{
    background-color: rgb(121, 62, 197);
    transition: 0.5s ease;
}
#footer{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.home{
    margin-right: 60px;
    margin-top: 0%;
}
#welcome{
    margin-right: 600px;
}
.imng:hover{
    width: 25px;
    height: 25px;
    color:rgba(0, 0, 0, 0.61);
    transition: 0.3s ease;

}
.home:hover{
    background: linear-gradient(to right,rgba(234, 230, 255, 0.493) ,rgba(255, 255, 255, 0.562));
    transition: 0.3s ease;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.418), rgba(170, 170, 170, 0.301));
    width: 500px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}
.logo img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    transition: 0.5s ease;
 

}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.418), rgba(170, 170, 170, 0.301));
    border-radius: 10px;
    height: 400px;
    outline: rgba(255, 255, 255, 0.637) solid 2px;
    padding: 20px;

}
.content{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
   
}
.imggg{
    width: 40px;
    height: 40px;
   
    color:rgb(90, 20, 155);
    transition: 0.3s ease;
}
#courses , #notifications , #messages , #settings{
    border: none;
    background: rgba(255, 255, 255, 0.356);
    border-radius: 100%;
    cursor: pointer;
}
.imggg:hover{
    transform: rotate(-30deg);
    transition: 0.3s ease;
}
.oth{
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 800px;
    height: auto;
    background: linear-gradient(90deg, rgba(49, 0, 112, 0.418), rgba(11, 0, 172, 0.301));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}
.tx{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.oth ul{
    color: rgba(223, 203, 255, 0.801);
    list-style-type: square;
    margin-left: 20px;
}
.oth:hover{
    background: linear-gradient(90deg, rgba(90, 20, 155, 0.418), rgba(25, 60, 216, 0.301));
    transition: 0.3s ease;

}
.logo:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.618), rgba(170, 170, 170, 0.501));
    transition: 0.5s ease;
}
.books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 600px;
    outline: rgba(255, 255, 255, 0.637) solid 2px;
    width: 800px;
    overflow: hidden;
    outline: solid rgb(90, 20, 155) 2px;
}
.bb{
    width: 800px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 0%;
    transition: 0.5s ease;
    height: 500px;
}
.bb:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    overflow: hidden;
    transition: 0.5s ease;
}
.ee{
    width: 40px;
    position: absolute;
    height: 40px;
    background-color: white;
    margin: 10px;
    margin-top: 16%;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: 0.5s ease;

}
.ee:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: 0.5s ease;
}
.ee:focus{
    outline: rgb(90, 20, 155) solid 2px;
    border: rgb(90, 20, 155) solid 1px;
    transition: 0.5s ease;
}
.books h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(90, 20, 155);
    margin-bottom: 10px;
}
.books p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.space{
    margin-bottom: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.spa{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.imgg{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.363);
}
#search{
    background-color: white;
    width:300px;
    height: auto;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}
#search::placeholder{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;

}
#search:focus{
    outline: rgb(90, 20, 155) solid 2px;
    width: 320px;
    transition: 0.5s ease;
}
.search-btn{
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 100%;
    border: none;
    background-color: rgb(90, 20, 155);
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
}
.search-btn:hover{
    background-color: rgb(121, 62, 197);
    transition: 0.5s ease;
}
.friends{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
    position: relative;
}
.friends:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
}
.friends h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(90, 20, 155);
    margin-bottom: 10px;
}
.friends ul{
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
}
.post-btn{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 100%;
    background-color: rgb(90, 20, 155);
    color: white;
    cursor: pointer;
    position: fixed;
    margin-left: 1700px;
    margin-top: 600px;
    transition: 0.5s ease;
}
.post-btn:hover{
    width: 60px;
    height: 60px;
    font-size: 50px;
    transform: rotate(90deg);
    transition: 0.5s ease;
}
.contentt{
    display: flex;
    margin: 10px;
    padding: 5px;
    flex-direction: row;
}
.main-content{
    background-color: white;
    display:flex;
    flex-direction: column;
    align-self: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    width: 1200px;
    height: 700px;
    overflow-y: auto;

}
.edu{
    width: 100px;
    height: 100px;

}
.main-content h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(90, 20, 155);
    margin-bottom: 10px;
}
.main-content p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.friends{
    height: 700px;
    margin-left: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: stretch;
    
}
.fr{
    border-left: 1px solid rgb(65, 7, 99);
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: 0.3s ease;
    cursor: pointer;
}
.fr:hover{
    background-color: rgba(153, 153, 153, 0.218);
    transition: 0.3s ease;
}
.fr li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin-left: 10px;
    cursor: pointer;
}
.fr img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 10px;

    transition: 0.3s ease;
}
.pos{
    width: auto;
    border: rgb(90, 20, 155) solid 2px;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;    
    min-height: 500px; 
    max-height: 600px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.pos img{
    width: 400px;
    height: 400px;
    margin-top: 10px;
    border-radius: 10px;
}
.log{
    margin-left: 1350px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(90, 20, 155);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.log:hover{
    background-color: rgb(121, 62, 197);
    transition: 0.3s ease;
}
.h{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
}
.about-section{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.418), rgba(170, 170, 170, 0.301));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 700px;
    
    transition: 0.5s ease;
}
.about-section h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(90, 20, 155);
    margin-bottom: 10px;
}
.about-section p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.about-section:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: 0.5s ease;
}
.updates{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
    position: relative;
    margin: 20px;
}
.updates:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: 0.5s ease;
}
.updates h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(90, 20, 155);
    margin-bottom: 10px;
}
.updates ul{
    list-style-type: disc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.futre-features{
    background: linear-gradient(to right, rgba(223, 208, 240, 0.726), rgba(233, 179, 233, 0.507));
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.5s ease;
    width: 600px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}
.futre-features:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: 0.5s ease;
}
.futre-features h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(90, 20, 155);
    margin-bottom: 10px;
}
.futre-features ul{
    list-style-type: disc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.team{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.418), rgba(170, 170, 170, 0.301));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin-left: 20px;
    transition: 0.5s ease;
}
.team:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: 0.5s ease;
}
.team h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(90, 20, 155);
    margin-bottom: 10px;
}
.team p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.team ul{
    list-style-type: disc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.contact-info{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.418), rgba(170, 170, 170, 0.301));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin-left: 20px;
    transition: 0.5s ease;
}
.contact-info:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: 0.5s ease;
}
.contact-info h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(90, 20, 155);
    margin-bottom: 10px;
}
.contact-info p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.contact-info ul{
    list-style-type: disc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
    height: 15px;
 
}
