body{
    background: linear-gradient(to right, rgb(121, 62, 197), rgb(25, 60, 216) );
    
}
#welcome{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    align-self: left;
    margin-left: 100px;
    box-shadow: 1px;
}
.sign{
    background:linear-gradient(to right, rgba(153, 153, 153, 0.514) ,rgba(233, 233, 233, 0.418));
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: stretch;
    flex-wrap: nowrap; 
    border-color:aliceblue;
    transition: 0.5s ease;
    margin-left: 40px;
    border: WHITE solid 2px;
    margin-right: 600px;
    
    
}
.inputt{
    margin: 10px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 89%;
    transition:0.5s ease;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    cursor: pointer;


}
input::placeholder{
    color:rgba(255, 255, 255, 0.637);
    font-weight:bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:whitesmoke;
    border-bottom:3px solid white;
    font-size: 20px;
}
#ent{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 30px;
}
.inputt:hover{
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;

}
#acc{
    color:rgb(90, 20, 155);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#or{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color:rgba(196, 174, 255, 0.568);
}
.inputt:focus{
    outline:rgb(90, 20, 155) solid 1px;
    border:rgb(90, 20, 155) solid 1px;
    width: 92%;
    transition: 0.5s ease;
}
.home,.about,.contact{
    width:60px;
    height:60px;
    margin-left:10px;
    margin-top:10px;
    background-color:rgba(255, 255, 255, 0.363);
    border-radius: 100%;
    border:none;
    position: sticky;
    top: 10px;
    
    transition: 0.3s ease;
}
.imng{
    width: 20px;
    height: 20px;
    transition: 0.3s ease;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 60px;
    position: sticky;
    top:20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.534) );
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 10px;
    height: 80px;
}
#sub{
    width: 89%;
    height: 40px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(90, 20, 155);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.3s ease;
  
}
#sub:hover{
    background-color: rgb(121, 62, 197);
    transition: 0.5s ease;
}
#footer{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.home{
    margin-right: 60px;
    margin-top: 0%;
}
#welcome{
    margin-right: 600px;
}
.imng:hover{
    width: 25px;
    height: 25px;
    color:rgba(0, 0, 0, 0.61);
    transition: 0.3s ease;

}
.home:hover{
    background: linear-gradient(to right,rgba(234, 230, 255, 0.493) ,rgba(255, 255, 255, 0.562));
    transition: 0.3s ease;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.418), rgba(170, 170, 170, 0.301));
    width: 500px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}
.logo img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    transition: 0.5s ease;
 

}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.418), rgba(170, 170, 170, 0.301));
    border-radius: 10px;
    height: 400px;
    outline: rgba(255, 255, 255, 0.637) solid 2px;
    padding: 20px;
}
.content{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
   
}
.imggg{
    width: 40px;
    height: 40px;
   
    color:rgb(90, 20, 155);
    transition: 0.3s ease;
}
#courses , #notifications , #messages , #settings{
    border: none;
    background: rgba(255, 255, 255, 0.356);
    border-radius: 100%;
    cursor: pointer;
}
.imggg:hover{
    transform: rotate(-30deg);
    transition: 0.3s ease;
}
.oth{
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 800px;
    height: auto;
    background: linear-gradient(90deg, rgba(49, 0, 112, 0.418), rgba(11, 0, 172, 0.301));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}
.tx{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.oth ul{
    color: rgba(223, 203, 255, 0.801);
    list-style-type: square;
    margin-left: 20px;
}
.oth:hover{
    background: linear-gradient(90deg, rgba(90, 20, 155, 0.418), rgba(25, 60, 216, 0.301));
    transition: 0.3s ease;

}
.logo:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.618), rgba(170, 170, 170, 0.501));
    transition: 0.5s ease;
}
.books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 600px;
    outline: rgba(255, 255, 255, 0.637) solid 2px;
    width: 800px;
    overflow: hidden;
    outline: solid rgb(90, 20, 155) 2px;
}
.bb{
    width: 800px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 0%;
    transition: 0.5s ease;
    height: 500px;
}
.bb:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    overflow: hidden;
    transition: 0.5s ease;
}
.ee{
    width: 40px;
    position: absolute;
    height: 40px;
    background-color: white;
    margin: 10px;
    margin-top: 16%;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: 0.5s ease;

}
.ee:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: 0.5s ease;
}
.ee:focus{
    outline: rgb(90, 20, 155) solid 2px;
    border: rgb(90, 20, 155) solid 1px;
    transition: 0.5s ease;
}
.books h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(90, 20, 155);
    margin-bottom: 10px;
}
.books p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
